:root{
    --title-color: #212121;
    --text-color: #757575;
    --icon-color: #AFB1B8;
    --text-light-color: #ffffff;
    --nav-color: #212121;
    --logo-header-color: #000000;
    --logo-footer-color: #ffffff;
    --accent-color: #2196F3;
    --background-dark-color: #2F303A;
    --background-light-color: #F5F4FA;
    --background-white-color: #ffffff;
    --footer-color: #ffffff;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --join-link-bg-color: rgba(255, 255, 255, 0.1);
    --border-color: #EEEEEE;
    --border-header-color: #ECECEC;
    --typical-padding: 94px;
    --trans-duration: 250ms;
    --trans-func: cubic-bezier(0.4, 0, 0.2, 1);
    --border-input-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
}

.body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-white-color)
}
.link {
    text-decoration: none;  
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol 
a
span {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

/* --------------------HEADER---------------------- */

.header {
    padding-top: 24px;
    /* padding-bottom: 25px; */
    border: 1px solid var(--border-header-color);
}

.header .container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
    display: inline-block;
    padding: 0;
    
}

.header-logo-black {
    color: var(--logo-header-color);
    
}

.header-menu {
    display: inline-flex;
}

.header-menu-item {
    margin-right: 50px;
}

.header-menu-item:last-child {
    margin-right: 0px;
}

.header-menu .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-color);
    display: flex;
    flex-direction: column;
    transition: color var(--trans-duration) var(--trans-func);
}

.header-menu .link.current {
    color: var(--accent-color);
}

.header-menu .link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    margin-top: 28px;
    border: none;
}

.header-menu :hover,
.header-menu :focus {
    color: var(--accent-color);
}

.header-contact {
    display: flex;
    margin-left: auto;
}

.header-contact li {
    display: flex;
    align-items: baseline;
}

.header-contact li:not(:last-child) {
    margin-right: 50px;
}

.header-contact-mail .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color var(--trans-duration) var(--trans-func);
}

.header-contact-mail :hover,
.header-contact-mail :focus {
    color: var(--accent-color);
}

.header-contact-tel .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-contact-tel :hover,
.header-contact-tel :focus {
    color: var(--accent-color);
    transition: color var(--trans-duration) var(--trans-func);
}

.header-contact-icon {
    margin-right: 10px;
}

.header-conection {
    display: inline-flex;
    fill: currentColor;
    align-items: baseline;
}

/* --------------------HERO---------------------- */

.hero{
    background-color: var(--background-dark-color); 
    padding-top: 200px;   
    padding-bottom: 200px;
    max-width: 1600px;
    background-image:linear-gradient(
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)
    ), 
    url(../images/bgi.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.hero .container {
    text-align: center;
    
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-light-color);
    margin-bottom: 30px;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: inline;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-light-color);
    background-color: var(--accent-color);
    cursor: pointer;  
}

/* --------------------BENEFITS---------------------- */

.benefits {
    display: flex;
    justify-content: center;
    padding: var(--typical-padding) 0 0;
}

.benefits__logo + .benefits__logo  {
    margin-left: 30px;
}

.benefits__logo--border {
    width: 270px;
    height: 120px;
    background: var(--background-light-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.benefits__lists {
    display: flex;
}

.benefits__list {
    width: 270px;
    margin-right: 30px;
    display: inline-block;
    flex-wrap: wrap;
}

.benefits__list:last-child {
    margin-right: 0;
}

.benefits__title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits__item{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* --------------------SPECIALIZATION---------------------- */
.specialization__items {
    display: flex;
}


.specialization__list {
    margin-right: 30px;

}

.specialization__list:last-child {
    margin-right: 0px;
}

.specialization__title{
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 50px;
}

.specialization__wrap {
    position: relative;
}

.specialization__descr {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-light-color);
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
}


/* --------------------TEAM---------------------- */

.team {
    background-color: var(--background-light-color);
}


.team-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team-items {
    display: flex;
}

.team-list {
    margin-right: 30px;
    max-width: 270px;
    background: var(--background-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list:last-child {
    margin-right: 0px;
}

.team-descr {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title-list-item-head{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.team-title-list-item-item{
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
}

.team-soc-list{
    display: flex;
    justify-content: center;
}

.team-soc-item + .team-soc-item {
    margin-left: 10px;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    background-color: var(--background-white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    transition: fill var(--trans-duration) var(--trans-func), background var(--trans-duration) var(--trans-func);
}

.team-soc-link:hover {
    background: var(--accent-color);
    fill: var(--text-light-color);
}

.team-soc-link:focus {
    background: var(--accent-color);
    fill: var(--text-light-color);
}

/* --------------------CLIENTS---------------------- */

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.clients-items {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.clients-item + .clients-item {
    margin-left: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    transition: fill var(--trans-duration) var(--trans-func), border-color var(--trans-duration) var(--trans-func);
}

.clients-link:hover,
.clients-link:focus {
    border-color:var(--accent-color);
    fill: var(--accent-color);
}

/* --------------------FOOTER---------------------- */

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.footer>.container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: block;
    margin-bottom: 20px;
}

.footer-logo-white{
color: var(--logo-footer-color);
}

.footer-address li:not(:last-child) {
    margin-bottom: 9px;
}

.footer-adress-list-adress  .link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color);
    transition: color var(--trans-duration) var(--trans-func);
} 

.footer-adress-list-adress :hover,
.footer-adress-list-adress :focus {
    color: var(--accent-color);
}

.footer-adress-list-mail .link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
    transition: color var(--trans-duration) var(--trans-func);
}

.footer-adress-list-mail :hover,
.footer-adress-list-mail :focus {
    color: var(--accent-color);
}

.footer-adress-list-tel .link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
    transition: color var(--trans-duration) var(--trans-func);
}

.footer-adress-list-tel :hover,
.footer-adress-list-tel :focus {
    color: var(--accent-color);
}

.footer-right {
    margin-left: 70px;
}

.footer-connection {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--footer-color);
margin-bottom: 20px;
}

.footer-soc-list{
    display: flex;
    justify-content: center;
}

.footer-soc-item + .footer-soc-item {
    margin-left: 10px;
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    background-color: var(--join-link-bg-color);;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--footer-color) ;
    transition: background var(--trans-duration) var(--trans-func);
}

.footer-soc-link:hover {
    background: var(--accent-color);
}

.footer-soc-link:focus {
    background: var(--accent-color);
}

.subscription-box {
    display: flex;
    margin-top: 20px;
}

.subscription-form {
    margin-left: 93px;
}

.thumb-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-light-color);
}

.subscription-input {
    min-width: 358px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}

.subscription-input:focus {
    border: 1px solid var(--accent-color)
}

.subscription-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
}

.subscription-btn {
    font-family: inherit;
    padding: 10px 28px 10px 29px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: var(--text-light-color) ;
}

.submit-icon {
    margin-left: 10px;
}

/* --------------------PORTFOLIO-PAGE---------------------- */

.portfolio-buttons {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.portfolio-button {
    margin-right: 8px;
}

.portfolio-button:last-child {
    margin-right: 0px;
}

.portfolio-btn {
    font-family:inherit; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--background-light-color);
    color: var(--nav-color);
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition: background-color var(--trans-duration) var(--trans-func), color var(--trans-duration) var(--trans-func), box-shadow var(--trans-duration) var(--trans-func) ;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color);
    color: var(--background-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-descr {
    padding-left: 24px;
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding-right: 24px ;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.portfolio-list {
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 370px;
}

.portfolio-list:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-list:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.portfolio-link:hover .portfolio-top-text {
    transform: translateY(0%);
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--trans-duration) var(--trans-func)
}

.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-top-text {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--text-light-color);
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--trans-duration) var(--trans-func), box-shadow var(--trans-duration) var(--trans-func) ;
    overflow: auto;
}

.portfolio-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
}

.portfolio-item-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* --------------------modal---------------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--trans-duration) var(--trans-func), visibility var(--trans-duration) var(--trans-func);
}

.backdrop.is-hidden .modal {
    transform: scale(0.2);
}

.modal {
    width: 528px;
    min-height: 581px;
    background: var(--background-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transition: transform var(--trans-duration) var(--trans-func);
    transform: translate(-50%, -50%); scale:(1) ;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: center;
}

.modal-close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000000;
    transform: translate(-50%, -50%);
}

.modal-close-btn:hover, 
.modal-close-btn:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 12px;
}

.madal-field {
    margin-bottom: 10px;
}

.madal-field:last-child {
    margin-bottom: 20px;
}

.modal-input {
    width: 448px;
    height: 40px;
    border: 1px solid var(--border-input-color);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: border var(--trans-duration) var(--trans-func) ;
}

.modal-input:focus {
    border: 1px solid var(--accent-color);
}

.modal-input:focus + .input-icon {
    fill: var(--accent-color);
}

.modal-input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--trans-duration) var(--trans-func) ;
}

.modal-label {
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: var(--text-color);
}
.modal-text {
    width: 100%;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--placeholder-color);
    height: 120px;
    border: 1px solid var(--placeholder-color);
    border-radius: 4px;
    padding: 16px;
    /* margin-bottom: 20px; */
    resize: none;
    outline: none;
}

.modal-text:focus {
    border: 1px solid var(--accent-color);
}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-text::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--nav-color);
    margin-right: 8px;
    border-radius: 2px;
    transition: border-color var(--trans-duration) var(--trans-func) ;
}

.input-check:checked + .check-text::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/icon-checked.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.input-check:focus + .check-text::before,
.input-check:hover + .check-text::before {
    border-color: var(--accent-color);
}

.policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    padding-left: 4px;
}

.madal-submit {
    position: relative;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--text-light-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.madal-button {
    margin-top: 30px;
}