.team {
    background-color: $background-team;
    min-width: 320px;
}

.team-list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    
}

.team-item {
    margin-bottom: 30px;
        
    &:last-child {
       margin-bottom: 0;
    }


    background: $background-main;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;


    @media screen and (min-width: 768px) and (max-width: (1200px - 0.02)) {
        margin-right: 30px;
        margin-bottom: 30px;
        flex-basis: calc((100% - 30px) / 2);
    
        &:nth-child(2n + 2) {
            margin-right: 0;
        }
    
        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-right: 30px;
        flex-basis: calc((100% - 90px) / 4);

        &:last-child {
        margin-right: 0;
    }
    }


}

.team-img {
    width: 100%;
}

.team-content {
    padding: 30px 32px;
}

.team-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-position {
    color: $text-paragraph--contact-link;
    font-weight: normal;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-socials {
    display: flex;
    align-items: center;
    justify-content: center
}

.team-socials-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.team-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: $background-main;
    border-radius: 50%;

    color: $icon-socials-team;

    transition: background-color 250ms $cubic, color 250ms $cubic;

    &:hover,
    &:focus {
        background-color: $logo-blue--hover-color;
        color: $hero-color--logo-white;
    }
}

.team-socials-icon {
    fill: currentColor;
}