.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $background-hero--background-footer;
}

.footer-display {
    display: block;

    @media screen and (min-width: 1200px) { 
    display: flex;
    align-items: baseline;}
   
}

.block-tablet {
    @media screen and (min-width: 768px) and (max-width: (1200px - 0.02)) {
        display: flex;
        justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}

.logo-footer {
    display: block;

    color: $hero-color--logo-white;
     margin-bottom: 20px;

    @media screen and (min-width: 768px) and (max-width: (1200px - 0.02)) {
        margin-right: 0;
        margin-bottom: 20px;
    }
   
    @media screen and (min-width: 1200px) {
        margin-bottom: 20px;
    }

    
}

.adress-block {
    text-align: center;
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
        text-align: left;
    }
   }

.address {
    font-family: $main-font;
    font-style: normal;
    color: $hero-color--logo-white;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-list {
    margin-bottom: 60px;
}

.address-item,
.address-fact {
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0;
}

.address-link {
    color: $link-text;

    transition: color 250ms $cubic;

    &:hover,
    &:focus {
        color: $logo-blue--hover-color;
    }
}



.text-social {
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $hero-color--logo-white;

    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
 
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

        @media screen and (min-width: 1200px){
        margin-right: 93px;
        }

}

.footer-socials-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    color: $hero-color--logo-white;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $logo-blue--hover-color;
    }
}

.footer-socials-icon {
    fill: currentColor;
}