.nav__list {
    display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }
}

.nav__item {
    position: relative;

    @media screen and (min-width: 768px) {
        margin-right: 50px;
        &:last-child {
            margin: 0;
        }
    }
}

.nav__link {


    display: block;
    color: $primary-txt;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    transition: color 250ms $cubic;
    
    &:hover,
    &:focus {
        color: $logo-blue--hover-color;
    }

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;

    }
}

.nav__link--current {
    color: $logo-blue--hover-color;

        @media screen and (min-width: 768px) {
        &::after {
            position: absolute;
        
            display: block;
            content: "";
        
            bottom: -1px;
            width: 100%;
            height: 4px;
            background-color: $logo-blue--hover-color;
            border-radius: 2px;
        }
        }
}