.link {
    text-decoration: none;  
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol 
a
span {
    padding-left: 0;
    margin: 0;
}

img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}