    /* fonts */
    $main-font: 'Roboto', sans-serif;
    $logo-font: 'Raleway', sans-serif;
    /* color fonts */
    $primary-txt: #212121;
    $logo-blue--hover-color: #2196f3;
    $hero-color--logo-white: #ffffff;
    $text-paragraph--contact-link: #757575;
    $link-text: #ffffff99;
    /* background-color */
    $background-main: #ffffff;
    $background-hero--background-footer: #2f303a;
    $background-team: #f5f4fa;
    $background-hover-batton: #188ce8;
    /* icons-color */
    $icon-socials-team: #afb1B8;
    /* animatoins */
    $cubic: cubic-bezier(0.4, 0, 0.2, 1);